In [2]:
import sys
sys.path.append('../')

import datetime as dt
from collections import defaultdict

import matplotlib.pyplot as plt
import pandas as pd

import knoxdata

# Gather Data

In [3]:
# Get unorganized json data from parsing pdfs
data = knoxdata.get_knox311_data()

unable to read pdf http://knoxvilletn.gov/UserFiles/Servers/Server_109478/File/311/Reports/311_2017_04.pdf --- skipping

In [4]:
# Get pdfs from dataframes
dfs = knoxdata.source.knox311.get_knox311_dataframes()
for key, df in dfs.items():
    df.to_csv(f'../data/311/{key}.csv')

unable to read pdf http://knoxvilletn.gov/UserFiles/Servers/Server_109478/File/311/Reports/311_2017_04.pdf --- skipping

# Analyze Data

In [9]:
dfs['statistics'].sort_index()

,end_of_month_open_requests,number_of_calls,average_answer_time,service_quality
dates,,,,
2017-05-01,NaN,NaN,NaN,NaN
2017-06-01,279.0,NaN,NaN,NaN
2017-07-01,208.0,NaN,NaN,NaN
2017-08-01,287.0,NaN,NaN,NaN
2017-09-01,182.0,12481.0,41.0,68.0
2017-10-01,94.0,12599.0,30.0,76.0
2017-11-01,86.0,11267.0,23.0,82.0
2017-12-01,86.0,9872.0,19.0,86.0
2018-01-01,150.0,11991.0,35.0,74.0
2018-02-01,118.0,10794.0,24.0,84.0
2018-03-01,94.0,13053.0,31.0,80.0

In [7]:
dfs['requests']

,public,public_on_time,solid_waste,solid_waste_on_time,traffic,traffic_on_time,civil,civil_on_time,storm_water,storm_water_on_time,...,zoning,zoning_on_time,municiple_court,municiple_court_on_time,codes_enforcement,codes_enforcement_on_time,parks_and_recreation,parks_and_recreation_on_time,total_service_requests,total_service_requests_on_time
dates,,,,,,,,,,,,,,,,,,,,,
2017-11-01,289,91.70,342.0,81.00,119.0,64.60,13,100.0,38,92.1,...,51,82.40,117.0,88.9,1007,95.9,18.0,100.0,2226,90.90
2017-07-01,462,98.50,630.0,88.42,305.0,71.26,25,100.0,43,100.0,...,8,87.50,NaN,NaN,1997,94.7,27.0,74.1,3548,94.38
2018-03-01,394,91.10,532.0,86.70,112.0,70.20,14,100.0,77,90.9,...,75,72.00,135.0,96.3,957,97.8,NaN,NaN,2531,91.00
2017-06-01,792,96.34,530.0,69.25,305.0,85.25,25,100.0,52,100.0,...,13,100.00,NaN,NaN,2135,98.3,16.0,100.0,3925,92.63
2017-08-01,609,87.53,567.0,95.77,242.0,66.94,30,100.0,69,97.1,...,15,46.67,NaN,NaN,2156,95.7,35.0,100.0,4185,92.50
2017-05-01,768,94.66,666.0,54.05,NaN,NaN,32,100.0,65,96.9,...,9,100.00,NaN,NaN,2347,97.7,25.0,100.0,4330,89.14
2017-12-01,255,89.40,NaN,NaN,NaN,NaN,13,100.0,26,92.3,...,38,76.30,113.0,76.1,642,92.4,14.0,100.0,1803,86.40
2018-01-01,335,93.70,508.0,80.00,126.0,81.00,14,100.0,40,100.0,...,52,75.00,190.0,87.9,796,99.1,17.0,100.0,2293,91.50
2018-02-01,415,93.30,409.0,89.20,112.0,79.50,15,100.0,84,96.3,...,71,81.70,120.0,100.0,908,98.0,NaN,NaN,2340,94.40
2017-09-01,478,93.50,426.0,87.30,119.0,62.20,24,100.0,50,100.0,...,60,86.70,148.0,89.2,1462,94.2,22.0,100.0,3060,91.10
2017-10-01,446,94.60,442.0,95.00,119.0,49.62,17,100.0,30,96.7,...,82,85.40,156.0,96.2,1067,93.3,21.0,95.2,3060,90.20

In [8]:
dfs['services']

,codes_enforcement_lot_complaint,codes_enforcement_lot_complaint_days,solid_waste_missed_trash_pickup,solid_waste_missed_trash_pickup_days,municipal_court,municipal_court_days,kub_referral,kub_referral_days,abandoned_vehicle,abandoned_vehicle_days,...,codes_enforcement_structure_complaint,codes_enforcement_structure_complaint_days,codes_enforcement_abandoned_junk_vehicle,codes_enforcement_abandoned_junk_vehicle_days,traffic_engineering_parking_investigation,traffic_engineering_parking_investigation_days,public_service_brush_pickup_request,public_service_brush_pickup_request_days,public_service_tree_limb_removal,public_service_tree_limb_removal_days
dates,,,,,,,,,,,,,,,,,,,,,
2017-11-01,837,17.5,268,5.2,117.0,1.6,8.0,1.0,75.0,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-01,1816,15.9,539,2.7,NaN,NaN,NaN,NaN,NaN,NaN,...,88.0,4.3,80.0,12.3,NaN,NaN,NaN,NaN,NaN,NaN
2018-03-01,794,14.0,251,4.0,135.0,1.4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-01,1948,16.2,423,4.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,173.0,1.4,135.0,3.0,NaN,NaN
2017-08-01,1964,17.1,468,2.7,137.0,1.6,10.0,0.0,NaN,NaN,...,105.0,4.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-05-01,2146,16.9,572,5.7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,249.0,36.7,106.0,4.6,132.0,10.6
2017-12-01,497,18.4,228,5.3,113.0,2.8,NaN,NaN,66.0,10.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01,633,16.0,281,4.6,190.0,2.1,10.0,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-02-01,681,14.3,170,3.2,12.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-01,1964,15.8,468,2.9,137.0,1.9,10.0,0.0,NaN,NaN,...,105.0,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-10-01,935,17.0,351,2.4,156.0,1.6,10.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN